* {
    box-sizing: content-box;
    color: #191c32;
}
.wrapper {
    padding-top: 10%;
    width: 100vw;
    height: 100vh;
    color: #fff;

}

.top {
    margin: 0 auto;
    width: 75%;
    height: 30vh;
    text-align: center;
    border: 4px black solid;
    border-bottom: none;
}

.dark-canvas {
    height: 70%;
    background-color: #e8e8e8;
    border-bottom: #b5b5b6 2px solid;
    margin-bottom: -110px;

}

.top img {
    width: 13%;
    padding: 5px;
    margin: 0 auto;
    border: #191c32 3px solid;
    border-radius: 50%;
    background-color: #fff;

}

.bottom {
    width: 75%;
    height: 30vh;
    margin: 0 auto;
    padding-top: 1%;
    border: 2px rgb(231, 231, 231) solid;
    border-top: none;
    text-align: center;
}
.bottom p {
    margin-bottom: -25px;
}
.bottom h2 {
    margin-bottom: 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.menu li {
    list-style: none;
    width: 10%;
}

.menu img {
    width: 50%;
    padding-top: 10px;
}

.menu button {
    border: none;
    border-top: 2px solid transparent;
    background-color: #fff;
}


.clickeado button {
    border-top: 2px #191c32 solid
}

.menu button:hover{
    border: none;
    border-top: 2px solid ;
}
